<h1>Recent Notes</h1>

<div id="notes-container">
<% @notes.each do |note| %>
  <ul>
    <li class='note'><%= link_to note.title, note %> on <%= show_date(note.created_at) %></li>
  </ul>
<% end %>
</div>
</table>

<br />

