<h2 id="recent-notes-heading">Recent Notes</h2>

<div id="notes-container">
<table id="recent-notes">
<% @notes.each do |note| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to note.title, note %></td> 
    <td>Created on <%= show_date(note.created_at) %></td>
  </tr>
<% end %>
</table>
</div>


