/* Main CSS file */

/* 
 * Color Palette 
 *
 * 201B21 - Dark
 * 25C7EE - Blue
 * 7BE4FF - Light Blue
 * F6F7FB - White
 * D5D4CF - Grey
 * URL: http://www.colourlovers.com/palette/2919/Fine_Art_in_Print
*/



/* Globals */
h1.main-heading {
  font-family: Georgia, serif; 
  font-size: 4em;
  font-style: italic;
  }

a#home-link, a#new-note-link {text-decoration: none; color: #201B21;}
a#new-note-link {float: right; position:relative; bottom: 40px;}


/* New Note */
#note-body {width: 800px;}
#note-title {width: 500px;}


/* Index */
ul li.note {list-style-type: none;}
h2#recent-notes-heading {
  width: 100%; 
  background: #201B21; 
  color: #F6F7FB; 
  padding: 2px 0px 2px 5px;
  font-size: 130%;
  font-family: Georgia, serif;
  font-style: italic;
}

