/* Main CSS file */

/* Globals */
h1.main-heading {
  font-family: Georgia, serif; 
  font-size: 4em;
  font-style: italic;
  }


/* New Note */
#note-body {width: 800px;}
#note-title {width: 500px;}


/* Index */
ul li.note {list-style-type: none;}
